<div class="container">
  <div class="row">
    <h1>Listing Teas</h1>
    <%= link_to 'New tea', new_tea_path %>
  </div>

  <div class="row">
    <div class="card-columns">
      <% @teas.each do |tea| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            Price:
            <%= tea.price %>
            <i class="fa fa-usd"></i>
          </div>
          <% if tea.image? %>
          <img alt='<%= tea.name %>' class="card-img-top" src='<%= tea.image %>'>
          <% end %>
          <div class="card-block">
            <h4 class="card-title"><%= tea.name %></h4>
            <p class="card-text"><%= tea.description %></p>
          </div>
          <div class="card-block">
            <a class="card-link" href='<%= tea.link %>'>Details</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  <% @teas.each do |tea| %>
  <tr>
    <td><%= tea.name %></td>
    <td><%= tea.price %></td>
    <td><%= tea.description %></td>
  </tr>
  <% end %>
</table>
