<div class="container">
  <h2>Add New Tea</h2>

  <%= form_for :tea, url: teas_path do |f| %>

      <% if @tea.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@tea.errors.count, "error") %> prohibited
              this tea from being saved:
            </h2>
            <ul>
              <% @tea.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <fieldset class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :price %>
        <%= f.text_area :price, class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </fieldset>

      <div class="btn-group" role="group" aria-label="form actions">
        <%= f.submit class: 'btn btn-primary' %>

        <%= link_to 'Back', teas_path, class: 'btn btn-secondary' %>
      </div>
  <% end %>


</div>